<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header") %>
    
        <main>
            <div class="productos">
                <% for (let i = 0; i < listaProductos.length; i++) { %>
                    <div>
                        <a href="/detalle/<%= listaProductos[i].id %>">
                            <img src="/images/<%= listaProductos[i].imagen %>" alt="<%= listaProductos[i].nombre %>">
                        </a>
                        
                         <h4><a href="/detalle/<%= listaProductos[i].id %>">
                            <%= listaProductos[i].nombre %>
                        </a>
                    </h4>
                         
                        <p>$<%= listaProductos[i].precio %></p>
                    </div>
                <% }; %>
            </div>
        </main>
            <%- include("../partials/footer") %>
        </body>
        
        </html>