<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header") %>
    
        <main>
            <div class="banner">
                <div class="imagenes-banner"> 
                <img src="/images/webbannershop3.png" alt="banner" class="banner1">                
            </div>
             </div>









            <div class="productos">
                
                <% for (let i = 0; i < listaProductos.length; i++) { %>
                    
                    <div class="productos-rec">
                        <a href="/detail/<%= listaProductos[i].id %>">
                            
                           <img src="/images/<%= listaProductos[i].imagen %>" class="productos-img"> 
                        </a>
                        <div class="productos-rec2 textoPolaroid">
                            <h4>
                            <a class="titulo-productos" href="/detail/<%= listaProductos[i].id %>">
                                <%= listaProductos[i].nombre %>
                            </a>
                            </h4>
                        </div>
                        <div class="flex">
                            <div><p><%= listaProductos[i].precio %>$</p>  </div>
                            <div></div>
                        </div>
                        
                    </div>
                <% }; %>
            </div>
            
        </main>
            <%- include("../partials/footer") %>
        </body>
        
        </html>