<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header") %>
    
        <main>
            <div class="productos">
                <% for (let i = 0; i < listaProductos.length; i++) { %>
                    <div>
                        <img src="/images/<%= listaProductos[i].imagen %>" alt="">
                        <h4><%= listaProductos[i].nombre %></h4>
                        <p>$<%= listaProductos[i].precio %></p>
                    </div>
                <% }; %>
            </div>
        </main>
            <%- include("../partials/footer") %>
        </body>
        
        </html>