<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>


<main>
    <div class="detalle-producto">   
   
        <!-- imagen de producto--> 
       
        <div class="sproducto">
            <img src="/images/<%=producto.imagen%>"  width="100%">
        </div>
          
        <div class="sproducto" id="borde">
             <!-- Nombre del producto-->
            <div class="titulo-producto"> 
                <h1><%=producto.titulo%></h1>
            </div>
             <!-- precio del producto, moneda-->
            <div>
                <p class="precio">Precio: <%=producto.precio%>$</p>
            </div>
            
            <!-- descripcion del producto-->
            <p class="text-des-producto"><%=producto.descripcion%></p>     
            
            <div class="product_meta">
                 <div class="product_meta_text_bold">
                    <!-- codigo del producto-->
                    NCP: 
                </div>
                <div class="product_meta_text">
                    <%=producto.codigo%>
                </div>
            </div>
            <div class="product_meta">
                <div class="product_meta_text_bold">
                    <!-- categoria del producto-->
                    Categorias: 
                </div>
                <div class="product_meta_text">
                    <%=producto.titulo%>
                </div>                
            </div>
                <div class="pedido-producto">
                    <div class="product_meta">
                        <form class="cart" action="/carrito" method="get" >
                        <!-- pedido de producto x cantidad-->
                            <div class="cantidad">
                                <label class="text-ctd-pedido" for="cantidad-pc6a"><%=producto.cantidad%></label>      
                                <div class="contador-detalle">           
                                <input type="button" value="-" class="minus">                
                                <input type="number" id="cantidad" class="input-text ctd text" value="1" title="Cantidad" min="1" max="" name="cantidad" step="1" placeholder="" inputmode="numeric" autocomplete="off">
                                <input type="button" value="+" class="plus">  
                            </div>                     
                            </div>
                           <div class="button-agregar-comprar">
                            <button type="submit" name="add-carrito" value="palfajores" class="button-adicionar-carrito">
                                <p>AÑADIR A LA CESTA</p>
                            </button>
                            
                            <button id="button-add-to-cart" type="submit" name="wd-add-to-cart" value="palfajores" class="button-adicionar-carrito">
                            <p>COMPRAR AHORA</p>			
                            </button>
                            </div> 
                        </form>
                    </div>
                </div>



            </div>
           
            
            
            <div class="iproducto">
                <div>
                    <h2> Más informacion</h2>
                    
                    </div>
                    <%= producto.desc2 %>
                <p>
                    Encuentre muchos más <a href="/"> aquí</a>.
                </p>
            </div>
        </div>

    </main>
    <!-- una barra fija con seguir en el shop - ir al carrito- hacer login-->
    <%- include("../partials/footer") %>
</body>

</html>