<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body class="contenedor">
    
<%- include("../partials/header") %>


<main>
    <div class="prefooter">
        <div class="container">
        </div>
    </div>
    <div class="detalle-producto">   
   
        <!-- imagen de producto--> 
       
        <div class="sproducto">
            <img src="/images/<%=producto.imagen%>"  width="100%">
        </div>
          
        <div class="sproducto" id="borde">
             <!-- Nombre del producto-->
            <div class="titulo-producto"> 
                <h1><%=producto.nombre%></h1>
            </div>
             <!-- precio del producto, moneda-->
            <div>
                <p class="precio">Precio: <%=producto.precio%>$</p>
            </div>
            
            <!-- descripcion del producto-->
            <p class="text-des-producto"><%=producto.descripcion%></p>     
            
            
            <div class="product_meta">
                <div class="product_meta_text_bold">
                    <!-- categoria del producto-->
                    Categoria: 
                </div>
                <div class="product_meta_text">
                    <%=producto.id_productoCat%>
                </div>                
            </div>
            
            <div class="product_meta">
                <div class="product_meta_text_bold">
                    <!-- categoria del producto-->
                    Cantidad disponible: 
                </div>
                <div class="product_meta_text">
                    <%=producto.cantidad%>
                </div>                
            </div>





            <div class="product_meta">
                <div class="pedido-producto">
                    
                        <form class="cart" action="/carrito" method="get" >
                        <!-- pedido de producto x cantidad-->
                            <div class="cantidad">
                                
                                <div class="contador-detalle">           
                                <input type="button" value="-" class="minus">                
                                <input type="number" id="cantidad" class="input-text ctd text" value="1" title="Cantidad" min="1" max="" name="cantidad" step="1" placeholder="" inputmode="numeric" autocomplete="off">
                                <input type="button" value="+" class="plus">  
                            </div>                     
                            </div>
                           <div class="button-agregar-comprar">
                            <button type="submit" name="add-carrito" value="palfajores" class="button-adicionar-carrito">
                                <p>AÑADIR A LA CESTA</p>
                            </button>
                            
                            <button id="button-add-to-cart" type="submit" name="wd-add-to-cart" value="palfajores" class="button-adicionar-carrito">
                            <p>COMPRAR AHORA</p>			
                            </button>
                            </div> 
                        </form>
                        <%if(locals.isLogged){%>
        
                            <%if(locals.isAdmin == true){%>
                                <div class="product_meta">
                                    <div class="product_meta_text_bold">                       
                                        <p class="eres-admin"> Opciones de modifcar Productos</p>
                                    </div>
                                </div>
                                <div class="modificarproducto">
                                    <!-- editar el producto-->
                                     
                                    <form class="cart" action="/products/edit/<%=producto.id%>" method="get" >
                                        <div class="button-agregar-producto">
                                            <button id="btnEditProducto" type="submit" name="btnEditProducto" value="btnEditProducto" class="button-adicionar-producto">
                                                <p>EDITAR</p>			
                                            </button>
                                        </div> 
                                    </form>
                                    <div class="product_meta_text_bold">                        
                                        <!-- elimnar el producto-->
                                        <p class="spacio">  </p>
                                    </div> 
                                    <form class="cart" action="/products/delete/<%=producto.id%>" method="get" >
                                        <div class="button-agregar-producto">
                                            <button id="btnEditProducto" type="submit" name="btnEditProducto" value="btnEditProducto" class="button-adicionar-producto">
                                                <p>ELIMINAR</p>			
                                            </button>
                                        </div> 
                                    </form>
                                </div>
                            
                            <%}%>                         

                <%}%>

            
                
                    
                



            </div>
           
        </div>   
    </div>        
        <div class="iproducto">
            <div>
                <h2> Más informacion</h2>
                    
            </div>
            <%= producto.desc2 %>
            <div class="prefooter">
                <div class="container">
                </div>
            </div>
            <h4>
                 Encuentre muchos más <a href="/productList"> aquí</a>.
            </h4>
        </div>
    </main>
    <div class="prefooter">
        <div class="container">
        </div>
    </div>
    <div class="footer-contenedor">
        <!-- una barra fija con seguir en el shop - ir al carrito- hacer login-->
        <%- include("../partials/footer") %>
    </div>
</body>

</html>