<!DOCTYPE html>
<html lang="en">
    
<%- include("./partials/head") %>

<body>
    
<%- include("./partials/header") %>

    <main>
        <div class="banner">
           <div class="imagenes-banner"> <img src="/images/bienvenido2.jpg" alt="banner" class="banner1">  
            <img src="/images/web_banner_shop1.png" alt="banner" class="banner2 banner-none ">  </div>
            <i class="fa-solid fa-angle-left i1"></i>
            <i class="fa-solid fa-chevron-right i2"></i>
           <div class="circulos"><i class="fa-solid fa-circle circle c1 circulogris"></i>
            <i class="fa-solid fa-circle circle c2"></i></div> 
        </div>

<div><h2 class="titulo-home">Los Preferidos en nuestro SHOP</h2></div>
        <div class="productos">
            <% for (let i = 0; i < productoHome.length; i++) { %>
                
                <div class="productos-rec polaroidContenedor">
                    <a href="/detail/<%= productoHome[i].id %>">
                        
                       <img src="/images/<%= productoHome[i].imagen %>" class="productos-img"> 
                    </a>
                    <div class="productos-rec2 textoPolaroid">
                        <h4>
                            <a class="titulo-productos" href="/detail/<%= productoHome[i].id %>">
                                <%= productoHome[i].nombre %>
                            </a>
                        </h4>
                        <div class="flex">
                            <div>
                                <p><%= productoHome[i].precio %>$</p>
                            </div>
                            <div class="taza-cafe">
                                <img src="/images/humo.png" class="humo"> <i class="fa-solid fa-mug-saucer"></i>
                            </div>
                        </div>
                    </div>
                </div>
            <% }; %>
        </div>

        <article class="lore">
            <h3 class="encabezado">Tienda Merienda</h3>
            <p>Nos enorgullece presentarte un universo de exquisiteces para deleitar tu paladar en cada merienda.
            <p>Desde el auténtico mate argentino hasta los irresistibles alfajores y las tradicionales facturas, ofrecemos lo mejor para hacer de tu momento de merienda una experiencia única.             
            <p>Descubre nuestro mate cuidadosamente seleccionado, con hojas de yerba mate de primera calidad y auténticas bombillas de acero inoxidable. Te proporcionaremos todo lo necesario para disfrutar de una auténtica infusión de mate y sumergirte en la tradición y el sabor de Argentina.</p>
            
            <h3>¿Prefieres algo dulce?</h3>
            <p> Nuestros alfajores son una delicia irresistible. Con sus tapas de masa suave y rellenos exquisitos de dulce de leche, los alfajores de Delicatessen son el complemento perfecto para endulzar tu día y consentir tu paladar. </p>
            <p>Y, por supuesto, no podemos olvidarnos de nuestras deliciosas facturas. Ya sea que te encanten las clásicas medialunas o desees probar nuestras opciones rellenas de crema pastelera o espolvoreadas con azúcar impalpable, nuestras facturas recién horneadas te brindarán un auténtico placer gastronómico.                
            
            <h3>En Tienda Merienda,<br/> nos apasiona ofrecerte lo mejor en cada merienda. </h3>
                <p> Nuestros productos son elaborados con ingredientes de alta calidad y con un cuidado artesanal que se refleja en cada bocado.</p>
                <p>Te invitamos a explorar nuestro catálogo y descubrir la amplia variedad de opciones que tenemos para ofrecerte.</p>
            <h3> ¡Tu merienda nunca volverá a ser la misma!</h3>
                <p>Realiza tus pedidos o contáctanos para obtener más información. Estamos aquí para brindarte un servicio excepcional y asegurarnos de que disfrutes al máximo de la experiencia en Delicatessen.</p>
                <p>Gracias por elegirnos y permitirnos formar parte de tus momentos especiales.
                <br><b>El equipo de Tienda Merienda</b></p>
            <hr>
            
        </article>

        <div class="opiniones">
            <h3>Historias de Éxito o Testimonios</h3>

            <hr>
            <div>
                <img src="/images/testimonio1.png" alt="Testimonio_tiendaMerienda">
                <section>
                    <h4>Carla  y Eli</h4>
                    <p>Muy rico todo!</p>
                    <p>Excelentes opciones para merendar,   
                    <br>vale la pena tomarse el tiempo
                    para elegir lo que más se acomode a tu gusto.  </p>
                </section>
            </div>

            <div>
                <img src="/images/testimonio2.png" alt="Testimonio_tiendaMerienda de Andres">
                <section>
                    <h4>Andres</h4>
                    <p>Excelente calidad</p>
                    <p>Me gusta difrutar de lo tradicional.  </p>
                    <p>Muy buena experiencia con los productos de Tienda Merienda!</p>
                </section>
            </div>

            <div>
                <img src="/images/testimonio3.png" alt="">
                <section>
                    <h4>Ana</h4>
                    <p>Gran variedad y muy buen servicio</p>
                    <p>Asi de facil, hago
                         mi pedido para compartir en la oficina!</p>
                </section>
            </div>
        </div>
    </main>

<%- include("./partials/footer") %>
</body>

</html>
<script src="js/index.js"></script>