<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
<main>
    <h3 class="tiilodeDestacados"> Perfil de Usuario </h3>
    <div class = "datosUser">
        <div class = "bloqueAvatar">
        <img  src="/images/user/<%=user.imagen%>">
        </div>
        <div class = datosPerfill>
            <p class = bloques-registro> Nombre:
                <%= user.nombre %> 
            </p>
            <p class = bloques-registro> Apellido:
                <%= user.apellido %>
            </p class = bloques-registro>
            <p class = bloques-registro> Celular:
               <%= user.celular %>
            </p>
            <p class = bloques-registro> E-Mail:
            <%= user.email %>
            </p>
        </div>
    </div>
</main>


    <%- include("../partials/footer") %>
</body>
</html>